<!DOCTYPE html>
<html>
<head>
	<style>
input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
body {
        background-color: #ffffe0;
      }
.center {
 text-align: center
}
html {
    display: flex;
    justify-content: center;
}
</style>
<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Credit Card Data Fraud Detection</title>

</head>
<body>

	<div id="header">
		<h1 class="center"><a href="index" >Credit Card Data Fraud Detection <span></span></a></h1>
<br>
		<br><br>
		<p>All the input data should be in '.csv' format and should be in standard format of required fields.</p>
		<p>Sample format data for reference of required fields is available to download below. </p><br>
		<form action="Data_set" method="POST">
         {% csrf_token %}
			 <p><input type="submit" name="sd" value="Sample_data" class="button"></p>

</form>
		<h2>Upload the data below</h2>
<p>Click on the "Choose File" button to upload a file:</p><br>
<form  action="upload.php" method="POST" enctype="multipart/form-data">
	{% csrf_token %}

  <input accept=".csv" name="test_preprocessed" type="file">
	<button type="submit" name="upload">upload<span></span></button>
<br><br><br>
</form><span></span>

<p>We have trained the data with 3 different classifiers and built 3 different models.</p>
		<p>Choose the model below to predict the raud and non fraud transactions in your data.</p>
		<form action="download" method="POST">
         {% csrf_token %}
			 <input type="submit" name="gNB" value="Gaussian Naive Bayes" class="button">
			<input type="submit" name="lg" value="Logistic Regression" class="button">
            <input type="submit" name="rfc" value="Random Forest" class="button">
</form>
	</div>
	<h3>After you run the model , you can download the output excel.</h3>

<h2>Important links</h2>
<a href="https://github.com/lkampat/Credit_card_Data">Python Notebook</a><br><br>
<a href="https://github.com/lkampat/creditcard_data">Django Deployment</a>

</body>
</html>